<p id="notice"><%= notice %></p>

<p>
  <strong>Testname:</strong>
  <%= @testcategory.testname %>
</p>

<%= link_to 'Edit', edit_testcategory_path(@testcategory) %> |
<%= link_to 'Back', testcategories_path %>
